.swiper-pagination-bullet {
  height: 11px;
  width: 11px;
  background: #487d96;
}
.swiper-pagination-bullet-active {
  background: #056693;
}
.swiper-wrapper {
  margin-bottom: 100px;
}
.swiper-button-prev {
  position: absolute;
}

@media only screen and (max-width:768px)
{
  .swiper-wrapper {
    margin-bottom: 30px;
  }
}
