.__first-slide {
  background: url("https://res.cloudinary.com/drcdjp6s7/image/upload/v1700672152/chella/join-hand_yk7stz.jpg");
}
.__sec-slide {
  background: url("https://res.cloudinary.com/drcdjp6s7/image/upload/v1700591298/chella/7_bye0px.jpg");
}
.__third-slide {
  background: url("https://res.cloudinary.com/drcdjp6s7/image/upload/v1700594587/chella/crisis-care_tjdwcr.jpg");
}
.__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}


