.__first-slide {
  background: url("../../../../public/images/join-hand.jpg");
}
.__sec-slide {
  background: url("../../../../public/images/7.jpg");
}
.__third-slide {
  background: url("../../../../public/images/crisis-care.jpg");
}
.__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

